#root {
    padding: 10px;
    margin: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
}

nav {
    padding: 0 10px;
    margin: 5px;
    font-family: Helvetica, sans-serif;
    color: #1e1f22;
    background: #cdfdbc;
    font-size: 1rem;
    width: 660px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

h1 {
    padding: 10px;
    margin: 5px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.header {
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

a {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
    font-size: 1.75rem;
}

a:hover {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: inherit;
    background-color: #b6ddaa;
    font-size: 1.75rem;
    border-radius: 5px;
}